* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(-45deg, #a8edea, #fed6e3, #fbc2eb, #a6c1ee);
    background-size: 400% 400%;
    animation: gradientShift 12s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}